/* CAPACITACIONES */
.capacitaciones{
    padding:120px 0;
    background:#faf8f5;
}

.capacitaciones-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.capacitacion-card{
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:
    0 10px 30px rgba(0,0,0,.06);
    transition:.35s ease;
}

.capacitacion-card:hover{
    transform:translateY(-8px);
}

.capacitacion-card h3{
    font-family:'Cormorant Garamond',serif;
    font-size:2rem;
    margin-bottom:15px;
}

.btn-capacitacion{
    display:inline-block;
    margin-top:25px;
    padding:14px 30px;
    background:var(--dorado);
    color:white;
    text-decoration:none;
    border-radius:50px;
    transition:.3s;
}

.btn-capacitacion:hover{
    background:var(--dorado-hover);
}

.capacitacion-proximamente{
    max-width:700px;
    margin:0 auto;
    background:#fff;
    padding:50px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.06);
}

.capacitacion-proximamente i{
    font-size:60px;
    color:var(--dorado);
    margin-bottom:20px;
}

.capacitacion-proximamente h3{
    font-family:'Cormorant Garamond',serif;
    font-size:2.5rem;
    margin-bottom:15px;
}

.capacitacion-proximamente p{
    line-height:1.8;
    color:var(--gris);
    margin-bottom:15px;
}

.texto-aviso{
    font-weight:600;
    color:var(--negro);
}
